@use '@carbon/react/scss/spacing' as *;

.temphum-page {
  padding-top: $spacing-05;
  padding-bottom: $spacing-05;
  background-color: hwb(220 68% 26%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}
